#page-landing #page-landing-content{
    height: 90vh;
    padding: 1.2rem 5rem;
    color:  var(--color-text-title);
    background: var(--color-background-2);   
}

.logo-container {
    margin-bottom: 5rem;
    margin-top: 5rem;
    text-align: center;
}

.logo-container h2{
    font-size: 2.5rem;
}

.logo-container p{
    margin-top: 5px;
    font-size: 1.5rem;
}

.header-image {
    margin-top: 2rem;
    width: 100%;
}

.button-container {
    margin-top: 5rem;
   
}



@media (min-width: 1100px) {
    #page-landing-content {
        display: grid;
        grid-template-columns: 600px 1fr;
        align-items: center;
    }

    .logo-container {
        padding-right: 5rem;
        text-align: start;
    }
    
    .logo-container h2{
        font-size: 4.5rem;
    }

    .logo-container p{
        margin-top: 2.5rem;
        font-size: 2rem;
    }

    .header-image {
        margin-top: 0;
    }
}