.header{
    height: 10vh;
    background: var(--color-background-2);
    display: flex;
    align-content: center;
}

.header div {
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
}

.header .header-logo {
    font: 700 4rem Montserrat;
    color: var(--color-primary);
    letter-spacing: -4px;
}

.header .header-button{
    display: flex;
    justify-content: flex-end;
}