.header{
    height: 10vh;
    padding: 0 5rem;
    background: var(--color-background-2);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-logo {
    font: 700 4rem Montserrat;
    color: var(--color-primary);
    letter-spacing: -4px;
}



.header .header-button a:hover {
    background: #333333;
}